.button{
  display: flex; 
  justify-content: space-around; 
  gap:50px ;
  padding: 10px; 
}
.cardtop{
  margin-top: 20px;

}
.cardbox{
  padding-bottom: 40px;
 
}
.cardbox1{
  border:none;
}
.card-title{
  font-size: 18px;
  font-weight: bold;
}
.card-price{
  font-weight: bolder;
}
.productstyle{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 20px;
}
.card-titles{
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}
.description{
  margin-top: 20px;
}
.card-prices{
  font-weight: bolder;
  margin-top: 20px;
}
